<form action="http://localhost:5000/result" method='GET'>
<input type="text" name="vehicle1" value="Bike"> I have a bike<br>
<input type="text" name="vehicle2" value="Car"> I have a car<br>
<input type="text" name="vehicle3" value="Trolley"> I have a trolley


<input type="submit" value="Submit">
</form>


<form action="" method="post" id="users">
    <label for="oneWord">One word only:</label>
    <input type="text" name="first-name" id="oneWord">
    <input type="submit" value="Submit">
    <div id="result"></div>
</form>
